.metricBoxContainer {
	padding:0px;
}

.metricBox {
	border: 1px solid chartreuse;
	min-height: 100px;
	padding:10px;
}

.metricBox:hover {
	background-color:#DCDCDC;
}

.rawRelContainer {
	border: 1px solid red;
	margin-bottom:5px;
}

.rawRelBox{
	display:inline-block;
	width:50%;
	border: 1px solid red;
	min-height: 50px;
	padding:10px;	
}

.rawRelBox:hover {
	background-color:#DCDCDC;
}

.rankValContainer {
	border: 1px solid yellow;
	margin-bottom:5px;
}

.rankValBox{
	display:inline-block;
	width:50%;
	border: 1px solid yellow;
	min-height: 50px;
	padding:10px;	
}

.disabled {
	pointer-events: none;
	background-color:#DCDCDC;
	opacity:.35;
}

.rankValBox:hover {
	background-color:#DCDCDC;
}

.active {
	background-color:darken(#DCDCDC,30%);
}

.active:hover {
	background-color:darken(#DCDCDC,40%);
}

.title {
	text-align: right;
	text-transform: uppercase;
}