.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    vertical-align: top;
    overflow: hidden;
}
.svg-content-responsive {
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 0;
}

.singleMsa {
    fill:#db9a36;
    stroke:white;
}

.singeMsa:hover {
    fill:darken(#db9a36,15%);
}

.msa{
    stroke:white;
}

.state {
    fill:#DCDCDC;
    stroke-width:1px;
    stroke:darken(#DCDCDC,20%);
}

.title{
    display:inline-block;
    text-transform: uppercase;
    font-weight: bold;
}

.graphContainer{
    margin-top:15px;
}
