.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    vertical-align: top;
    overflow: hidden;
}
.svg-content-responsive {
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 0;
}

.msa {
    fill:#7d8faf;
    stroke:white;
}

.msa:hover {
    fill:darken(#7d8faf,15%);
}

.state {
    fill:#DCDCDC;
    stroke-width:1px;
    stroke:darken(#DCDCDC,20%);
}

.title{
    text-align: right;
    text-transform: uppercase;
    font-weight: bold;
}

.graphContainer{
    margin-top:15px;
}
