:global {
  @import 'base';
  @import 'vendor/normalize';

  // Some best-practice CSS that's useful for most apps
  // Just remove them if they're not what you want
  html {
    box-sizing: border-box;
  }

  html,
  body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    color:#5d5d5d;
    background-color: #f7f7f7;
  }

  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  .link {
    stroke: #999;
    stroke-opacity: .4;
  }
  
  .node circle {
    stroke: #fff;
    stroke-width: 1.5px;
  }

  .node text {
    pointer-events: none;
    font: 10px sans-serif;
    //font-weight: 700;
    color: black;
  }

  a:hover{
    text-decoration: none;
    color:inherit;
  }

  a:focus{
    text-decoration: none;
    color:inherit;
  }

}
