.kauffman-nav {
	background-color: #5d5d5d;
	color: #fff;
	min-height: 70px;
	box-shadow: 2px 2px 5px #5d5d5d;
	margin-bottom: 0px;
	border-radius: 0px;
}

.kauffman-navbar-brand {
	color: white;
	position: absolute;
	padding-top: 12px;
	font-size: 25px;
	font-weight: 100;
}

.kauffman-navbar-logo {
	display: inline;
	width: 65px;
	padding-right: 20px;
	padding-bottom: 5px;
}



