.counter {
  font-weight: bold;
}

.counter--green {
  composes: counter;
  color: rgb(25,200,25);
}

.topFive {
	display:block;
}

.msa{
	width:100%;
	cursor: pointer;
  font-size:12px;
}
.name{
  float:left;
  width:75%;
  margin:2px 0px;
}
.score {
	float:right;
	position: relative;
  margin:2px 0px;
}

.text-div {
	padding-top: 20px;
	padding-bottom: 20px;
}

.selector-buttons {
	height: 200px;
	padding: 15px;
	background-color: #efefef;
	//border-style: solid;
	//border-width: 0px;
	//border-color: #5d5d5d;
	border-radius: 3px;
	box-shadow: 2px 2px 2px #5d5d5d;
	color: #5d5d5d;
}

.selector-buttons:hover {
	background-color: rgba(93,93,93,0.4);
	color: white;
}

.list-boxes {
  //height: 200px;
  padding: 15px;
  //background-color: #efefef;
  //border-style: solid;
  //border-width: 0px;
  //border-color: #5d5d5d;
  border-radius: 3px;
  box-shadow: 2px 2px 2px #5d5d5d;
  color: #5d5d5d;
}

.active {
   //border: 2px solid white;
   background-color: #5d5d5d;
   color: white;
}

.active:hover{
   //border: 2px solid white;
   background-color: darken(#5d5d5d,5%);
   color: white;  
}

.bucket{
  background-color:#f7f7f7;
  cursor: pointer;
}

.bucket.active{
  color:chartreuse;
}




.whitelink {
  color:#efefef!important;
  text-decoration: none;
}

.whitelink:active {
  color: #efefef;
  text-decoration: none;
}

.whitelink:hover {
  color: darken(#db9a36, 5%)!important;
  text-decoration:none;
}

.whitelink:visited {
  color: #efefef;
  text-decoration: none;
}

//.whitelink:focus {
// color: white;
// text-decoration: none;
//}

.bluelink {
  text-decoration: none;
  color: #7D8FAF;
  font-weight: bold;
}

.bluelink:active {
  color: #7D8FAF;
}

.bluelink:hover {
  color: #7D8FAF;
  text-decoration:none;
}

.darklink {
  text-decoration: none;
  color: #5d5d5d;
  font-weight: bold;
}

.darklink:active {
  color: white;
}

.darklink:hover {
  color: #e7eff2;
  text-decoration:none;
}


.active-link {
	color: white;
	
}

.hoverScoreContainer {

}

.hoverScoreHeader{
  display:inline-block;
}

.hoverScore{
  display:block;
}

.tooltip{
  width:60%;
  font-size:14px;
}

.info{
  color: #efefef;
  border-radius: 25px;
  background-color: #5d5d5d;
  cursor: pointer;
  padding:3px;
}

.info:hover{
  color: darken(#db9a36, 5%)!important;
  background-color: darken(#5d5d5d, 5%)!important;
}

.rankingsTableHeader{
  color:#7D8FAF;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
}

.rankingsTableHeader:hover{
  color: darken(#7D8FAF, 5%)!important;
}

.rankingsCaret{
  display:inline-block;
  float:right;
}

.upCaret {
  display: block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: top;
  border-bottom: 4px solid;
  border-left: 4px solid transparent;
  border-top: 0 dotted;
  border-right: 4px solid transparent;
  content: "";
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: #7D8FAF;
  color:#f7f7f7;
}
